Source: sonic-common-utils
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends:
 debhelper (>= 9), dh-autoreconf, libsonic-logging-dev, libxml2-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/Azure/sonic-common-utils
Vcs-Git: https://github.com/Azure/sonic-common-utils.git

Package: libsonic-common1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains general utilities for the SONiC project.

Package: libsonic-common-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libsonic-common1 (= ${binary:Version}), libsonic-logging-dev
Description: This package contains general utilities for the SONiC project.

